@import 'mixins';
@import 'variables';

:host {
    position: relative;

    width: 100%;
    flex: 0 0 100%;

    padding-top: 2vh;

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include for-desktop-up {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

    background: transparent;
}
