<table class="list-table active">
    <tr>
        <td colspan="3" class="list-table-title">
            ACTIVE
        </td>
    </tr>
    <tr class="list-table-divider"></tr>
    <tr class="list-table-header">
        <td>
            Patient
        </td>
        <td>
            Age / Sex
        </td>
        <td>
            ETA
        </td>
    </tr>
    <tr>
        <td>
            David Copperfield
        </td>
        <td>
            75M
        </td>
        <td>
            18:56 (06/07)
        </td>
    </tr>
    <tr>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
    </tr>
    <tr>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
    </tr>
    <tr>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
    </tr>
</table>

<table class="list-table incoming">
    <tr>
        <td colspan="3" class="list-table-title">
            INCOMING
        </td>
    </tr>
    <tr class="list-table-divider"></tr>
    <tr class="list-table-header">
        <td>
            Patient
        </td>
        <td>
            Age / Sex
        </td>
        <td>
            ETA
        </td>
    </tr>
    <tr>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
    </tr>
    <tr>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
    </tr>
</table>

<table class="list-table completed">
    <tr>
        <td colspan="3" class="list-table-title">
            COMPLETE
        </td>
    </tr>
    <tr class="list-table-divider"></tr>
    <tr class="list-table-header">
        <td>
            Patient
        </td>
        <td>
            Age / Sex
        </td>
        <td>
            ETA
        </td>
    </tr>
    <tr>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
    </tr>
    <tr>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
    </tr>
    <tr>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
    </tr>
    <tr>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
    </tr>
    <tr>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
        <td>
            Test
        </td>
    </tr>
</table>
