@import 'variables';
@import 'mixins';

@import '../case';

:host {
    height: 100%;
    width: 100%;
}

form {
    @include form;
}

.details-row {
    @include case-row;

    &.options {
        @include case-row-options;
    }

    button {
        position: relative;

        border: 2px solid #D8D8D8;

        min-height: 3.5rem;
        min-width: 95%;
        max-width: 500px;
        @include for-tablet-portrait-up {
            min-width: unset;
            width: 500px;
        }
        flex-shrink: 0;

        @include pad-hor(1rem);

        @include for-tablet-portrait-up {
            margin-left: 2rem;
        }
    }
}

.group {
    @include row-group;
}
