$colour-background: #FCF6F2;

$header-z: 90;
$header-height: 6vh;
$header-min-height: 55px;

$menu-time: 0.5s;


$colour-incoming-dark: rgb(247,141,124);
$colour-incoming-light: rgb(249,179,167);
$colour-active-dark: rgb(255,179,122);
$colour-active-light: rgb(255,204,166);
//$colour-completed-dark: rgb(202,242,151);
$colour-completed-dark: #85e085;//#539DC2;
$colour-completed-light: rgb(220,247,186);

$colour-ng-invalid: #3B9C9C;
