@import 'mixins';
@import 'variables';

:host {
    margin-bottom: 5%;

    width: 95%;
    @include for-tablet-portrait-up {
        width: 90%;
    }
    @include for-desktop-up {
        max-width: 30vw;
    }

    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    font-size: 1.35rem;

    tr:not(.list-table-divider) {background: #E8E8E8;}
    tr:nth-of-type(odd) {background: rgba(#E8E8E8, 0.4)};

    &.incoming {
        .list-table-title {background: $colour-incoming-dark;}
    }
    &.active {
        .list-table-title {background: $colour-active-dark;}
    }
    &.completed {
        .list-table-title {background: $colour-completed-dark;}
    }

    td {
        vertical-align: middle;
        text-align: center;

        @include pad-hor (1rem);
        @include pad-vert (0.9rem);
    }

    /* ROUNDED CORNERS */
    tr:last-child {
        td:first-child {border-bottom-left-radius: 10px;}
        td:last-child {border-bottom-right-radius: 10px;}
    }

}

.list-table-title {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    width: 100%;

    @include pad-hor (2rem);
    @include pad-vert (0.5rem);

    color: white;
    font-weight: 600;
    font-size: 2.0rem;
    @include for-tablet-portrait-up {
        font-size: 2.0rem;
    }
}

.list-table-header {
    font-weight: 600;
    color: #707070;
    font-size: 1.5rem;
    @include for-tablet-portrait-up {
        font-size: 1.5rem;
    }
}

.list-table-divider {
    height: 0.5rem;
}
