    <tr>
        <td colspan="3" class="list-table-title">
            {{status | uppercase}}
        </td>
    </tr>
    <tr class="list-table-divider"></tr>
    <tr class="list-table-header">
        <td>
            Patient
        </td>
        <td>
            Age / Sex
        </td>
        <td>
            {{time}}
        </td>
    </tr>
    <tr class="list-table-row" *ngFor="let case of cases" (click)="onClick(case.case_id)">
        <td>
            {{case.getName()}}
        </td>
        <td>
            {{case.getAgeGender()}}
        </td>
        <td>
            {{case.getStatusTime() | date:"HH:mm (dd/MM)"}}
        </td>
    </tr>
