@import 'variables';
@import 'mixins';

div {
    margin-left: 0;
    @include for-tablet-portrait-up {
        margin-left: 2rem;
    }

    border: 2px solid #D8D8D8;

    height: 3.5rem;

    background: white;

    display: flex;

    &.disabled {
        color: #D8D8D8;
    }

    input[type="radio"] {
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:checked {
            +label.yes {background: lightgreen; color:black}
            +label.no {background: lightcoral; color: black}
            +label.unknown {background: lightgray; color: black}
        }

        &:disabled {
            +label {cursor: not-allowed;}
        }
    }

    label {
        height: 100%;
        min-width: 9rem;

        @include pad-hor(2rem);

        @include flex-center;

        cursor: pointer;

        &:not(:last-of-type) {
            border-right: 2px solid #D8D8D8;
        }

        &.enabled {
            &:hover {
                background: #EEEEEE;
            }
        }

    }
}
