<!-- <nav id="js-menu" class="global-menu" [class.active]="active | async">
    <div id="js-menu-close" class="global-menu-close" (click)="clickMenu()">
        <fa-icon [icon]="icon_times"></fa-icon>
    </div>

    <button class="global-menu-button" (click)="onMenuClick('new')">
        <fa-icon [icon]="icon_plus" ></fa-icon> <span>NEW PATIENT</span>
    </button>

    <button class="global-menu-button" (click)="onMenuClick('events')">
        <fa-icon [icon]="icon_list"></fa-icon> <span>EVENT LOG</span>
    </button>

    <button class="global-menu-button" (click)="onMenuClick('settings')">
        <fa-icon [icon]="icon_cog"></fa-icon> <span>SETTINGS</span>
    </button>
</nav> -->
<table csListContainer
[status]="'incoming'"
[cases]="cases | async">
</table>

<table csListContainer
[status]="'active'"
[cases]="cases | async">
</table>

<table csListContainer
[status]="'completed'"
[cases]="cases | async">
</table>
