<nav class="edit-nav">
    <div class="edit-nav-patient">
        <header>
            Incoming <i class="fas fa-ambulance"></i>
        </header>
        <div>
            Abdullah Jaffar
        </div>
        <div>
            46M
        </div>
        <div>
            ETA Unknown
        </div>
        <div>
            Last Well 3h ago
        </div>
    </div>

    <button class="edit-nav-button selected">
        Details <i class="far fa-id-card"></i>
    </button>
    <button class="edit-nav-button">
        History <i class="fas fa-notes-medical"></i>
    </button>
    <button class="edit-nav-button">
        ED <i class="fas fa-users"></i>
    </button>
    <button class="edit-nav-button">
        Assessment <i class="fas fa-eye"></i>
    </button>
    <button class="edit-nav-button">
        Radiology <i class="fas fa-desktop"></i>
    </button>
    <button class="edit-nav-button">
        Management <i class="fas fa-syringe"></i>
    </button>
</nav>
<main class="edit-main">
    <section class="details-section">
        <div class="details-articles">
            <article class="details-card">
                <header>
                    Details <i class="far fa-id-card"></i>
                </header>
                <div class="details-card-row">
                    <label>First Name</label>
                    <input />
                </div>
                <div class="details-card-row">
                    <label>Last Name</label>
                    <input />
                </div>
                <div class="details-card-row">
                    <label>DOB</label>
                    <input type="date"/>
                </div>
                <div class="details-card-row">
                    <label>Gender</label>
                    <input />
                </div>
                <div class="details-card-row">
                    <label>Address</label>
                    <input />
                </div>
            </article>
            <article class="details-card">
                <header>
                    NOK <i class="far fa-id-card"></i>
                </header>
                <div class="details-card-row">
                    <label>NOK Name</label>
                    <input />
                </div>
                <div class="details-card-row">
                    <label>NOK Contact No.</label>
                    <input />
                </div>
                <div class="details-card-row">
                    <label>HOPC</label>
                    <textarea></textarea>
                </div>
            </article>
        </div>
        <div class="details-actions">
            <article class="details-card actions">
                <header>
                    Actions <i class="fas fa-edit"></i>
                </header>
                <div class="details-card-row">
                    <button>Submit</button>
                </div>
                <div class="details-card-row">
                    <button>Reset</button>
                </div>
            </article>
        </div>
    </section>
</main>
