<div class="edit-container">
    <nav id="js-menu" class="global-menu" [class.active]="active | async">
        <div id="js-menu-close" class="global-menu-close" (click)="clickMenu()">
            <fa-icon [icon]="icon_times"></fa-icon>
        </div>
        <!-- <div class="list-menu-welcome">
            <span>Welcome Back,</span> <strong>Daniel Shell</strong>
        </div> -->
        <button class="global-menu-button" (click)="onMenuClick('home')">
            <fa-icon [icon]="icon_home" ></fa-icon> <span>HOME</span>
        </button>
        <button class="global-menu-button" (click)="onMenuClick('new')">
            <fa-icon [icon]="icon_plus" ></fa-icon> <span>NEW PATIENT</span>
        </button>
        <button class="global-menu-button" (click)="onMenuClick('events')">
            <fa-icon [icon]="icon_list"></fa-icon> <span>EVENT LOG</span>
        </button>

        <button class="global-menu-button" (click)="onMenuClick('settings')">
            <fa-icon [icon]="icon_cog"></fa-icon> <span>SETTINGS</span>
        </button>
    </nav>
    <nav class="edit-nav">
        <a *ngFor="let tab of nav" routerLink="./{{tab.path}}" routerLinkActive="selected">
            {{tab.name}}
        </a>
    </nav>
    <main class="edit-main">
        <header class="edit-status">
            <header>
                {{status.name | async}}
            </header>
            <div class="{{status.status | async}}">
                <fa-icon [icon]="icon_status"></fa-icon> {{status_text}} {{(status.statusTime | async) | date:"HH:mm (dd/MM)"}}
            </div>
            <div>
                <fa-icon [icon]="icon_well"></fa-icon> Last Well {{(status.lastWell | async) | date:"HH:mm (dd/MM)"}}
            </div>
        </header>
        <article class="edit-content">
            <router-outlet></router-outlet>
        </article>
        <aside class="edit-popup" [@popup] *ngIf="displayPopup">
            <div class="popup-main">
                <header>
                    W a r n i n g
                </header>
                <article>
                    {{popup.html}}
                </article>
                <nav >
                    <button *ngFor="let button of popup.buttons"
                    [class]="button.class"
                    (click)="executePopup(button.click)">
                        {{button.text}}
                    </button>
                </nav>
            </div>
        </aside>
    </main>
</div>
