<div class="global-container">
    <header class="global-header">
        <button id="js-menu-open" class="global-header-menu">
            <fa-icon [icon]="icon_bars"></fa-icon>
        </button>
        <div class="global-header-logo">
            <img src="assets/logo-white.png"/>
            <strong>CODE</strong> STROKE
        </div>
        <div class="global-header-options">
            <div>
                <fa-icon [icon]="icon_bell_slash"></fa-icon>
            </div>
            <fa-icon [icon]="icon_signout"></fa-icon>
        </div>
    </header>
    <main class="global-main">
        <router-outlet></router-outlet>

    </main>
</div>
