<router-outlet></router-outlet>
<div class="overlay" *ngIf="overlay.overlayState | async">
    <cs-loading></cs-loading>
    <cs-popup></cs-popup>
</div>
<div class="notif-bar">
    <div *ngFor="let notif of notifService.notifs" class="notif"
    [ngClass]="{
        'success': notif.type == 'success',
        'error': notif.type == 'error',
        'warning': notif.type == 'warning'
    }"
    (click)="notifService.deleteNotif(notif.id)"
    [@notif]>
        <div class="notif-box">
            <header>
                {{notif.type | uppercase}}:
            </header>
            <span [innerHtml]="notif.html">

            </span>
        </div>
    </div>
</div>
