<router-outlet></router-outlet>
<div class="spinner-wrap" *ngIf="loading.loadingState | async">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<div class="notif-bar">
    <div *ngFor="let notif of notifService.notifs" class="notif"
    [ngClass]="{
        'success': notif.type == 'success',
        'error': notif.type == 'error',
        'warning': notif.type == 'warning'
    }"
    (click)="notifService.deleteNotif(notif.id)"
    [@notif]>
        <div class="notif-box">
            <header>
                {{notif.type | uppercase}}:
            </header>
            <span [innerHtml]="notif.html">

            </span>
        </div>
    </div>
</div>
