<nav id="js-menu" class="global-menu" [class.active]="active | async">
    <div id="js-menu-close" class="global-menu-close" (click)="onClick()">
        <fa-icon [icon]="icon_times"></fa-icon>
    </div>
    <!-- <div class="list-menu-welcome">
        <span>Welcome Back,</span> <strong>Daniel Shell</strong>
    </div> -->
    <button class="global-menu-button" (click)="onMenuClick('home')">
        <fa-icon [icon]="icon_home" ></fa-icon> <span>HOME</span>
    </button>
    <button class="global-menu-button" (click)="onMenuClick('new')">
        <fa-icon [icon]="icon_plus" ></fa-icon> <span>NEW PATIENT</span>
    </button>

    <button class="global-menu-button" (click)="onMenuClick('events')">
        <fa-icon [icon]="icon_list"></fa-icon> <span>EVENT LOG</span>
    </button>

    <button class="global-menu-button" (click)="onMenuClick('settings')">
        <fa-icon [icon]="icon_cog"></fa-icon> <span>SETTINGS</span>
    </button>
</nav>

<button id="js-menu-open" class="global-header-menu" (click)="onClick()">
    <fa-icon [icon]="icon_bars"></fa-icon>
</button>
<article class="global-header-logo" [routerLink]="''">
    <img src="assets/logo-white.png"/>
    <strong>CODE</strong> STROKE
</article>
<nav class="global-header-options">
    <!-- <div class="notif-toggle" (click)="pushNotifActive=!pushNotifActive; pushnotifClick()"> -->
    <div class="notif-toggle" (click)="pushnotifClick()">
        <fa-icon *ngIf="!pushNotifActive" [icon]="icon_bell_slash" style="color: red;"></fa-icon>
        <fa-icon *ngIf="pushNotifActive" [icon]="icon_bell" style="color: green;"></fa-icon>
    </div>
    <fa-icon [icon]="icon_signout"></fa-icon>
</nav>
