<div id="login-container" class="login-container">
    <header class="login-header">
        <div>
            <img src="assets/logo-white.png"/>
        </div>
        <span><strong style="font-weight: 800">CODE</strong> Stroke</span>
    </header>

    <div class="login-inputs">
        <input type="text" class="login-input" placeholder="Username"/>
        <input type="text" class="login-input" placeholder="Password"/>
        <select class="login-input">
            <option selected disabled hidden value="">Hospital</option>
            <option>
                Austin
            </option>
        </select>
    </div>
    <div class="login-submit">
        <button><Strong>Login</Strong></button>
    </div>
</div>
