<form id="login-container" [formGroup]='loginForm' (ngSubmit)='onSubmit.next()' class="login-container">
    <header class="login-header">
        <div>
            <img src="assets/logo-white.png"/>
        </div>
        <span><strong style="font-weight: 800">CODE</strong> Stroke</span>
    </header>

    <div class="login-inputs">
        <input type="text" class="login-input" placeholder="Username" formControlName="username"/>
        <input type="text" class="login-input" placeholder="Password" formControlName="password"/>
    </div>
    <div class="login-submit">
        <button><Strong>Login</Strong></button>
    </div>
</form>
