<div class="global-container">
    <cs-header></cs-header>
    <main class="global-main">
        <router-outlet></router-outlet>
    </main>
    <div class="notif-bar">
        <div *ngFor="let notif of notifs" class="notif"
        [ngClass]="{
            'success': notif.type == 'success',
            'error': notif.type == 'error',
            'warning': notif.type == 'warning'
        }"
        (click)="onNotifClick(notif.id)"
        [@notif]>
            <div class="notif-box">
                <header>
                    {{notif.type | uppercase}}:
                </header>
                <span [innerHtml]="notif.html">

                </span>
            </div>
        </div>
    </div>
</div>
