@import 'variables';
@import 'mixins';

@import '../case';

:host {
    height: 100%;
    width: 100%;
}

form {
    @include form;
}

.assess-row {
    @include case-row;

    &.options {
        @include case-row-options;
    }

    .button {
        @include flex-center;

        position: relative;

        border: 2px solid #D8D8D8;

        min-height: 3.5rem;
        min-width: 95%;
        max-width: 500px;
        @include for-tablet-portrait-up {
            min-width: unset;
            width: 500px;
        }
        flex-shrink: 0;

        @include pad-hor(1rem);

        @include for-tablet-portrait-up {
            margin-left: 2rem;
        }
    }
}

.group {
    @include row-group;

    header span {
        margin-left: 2rem;

        @include pad-hor(1rem);

        background: orange;

        font-size: 2rem;
        color: white;
    }
}

.bp {
    input {
        width: 10rem !important;

        &:nth-of-type(2) {
            margin-left: 0 !important;
        }
    }
    span {
        width: 2rem;

        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.angio_notified {
    label {
        font-size: 2rem;
    }
    span {
        margin-left: 0;
        @include for-tablet-portrait-up {
            margin-left: 2rem;
        }
    }
}
