@import 'variables';
@import 'mixins';

@import '../case';

:host {
    height: 100%;
    width: 100%;
}

form {
    @include form;
}

.manage-row {
    @include case-row;

    &.options {
        @include case-row-options;
    }

    .button {
        @include flex-center;

        position: relative;

        border: 2px solid #D8D8D8;

        min-height: 3.5rem;
        min-width: 95%;
        max-width: 500px;
        @include for-tablet-portrait-up {
            min-width: unset;
            width: 500px;
        }
        flex-shrink: 0;

        @include pad-hor(1rem);

        @include for-tablet-portrait-up {
            margin-left: 2rem;
        }

        .complete {
            @include for-tablet-portrait-up {
                margin-top: 1.5rem;
            }
        }
    }
}

.group {
    @include row-group;
}

.heading {
    @include for-tablet-portrait-up {
        margin-left: 14rem !important;
    }

    width: 100% !important;
    @include for-tablet-portrait-up {
        width: unset !important;
    }

    justify-content: center !important;
    @include for-tablet-portrait-up {
        justify-content: flex-start !important;
    }

    color: #ff6c00 !important;
}
