@import 'variables';
@import 'mixins';

@import 'event_vars';


:host {
    //position: absolute;
    //top: 0; left: 0;
    width: 100%;
    //min-height: 100%;

    //overflow: hidden;

    border-bottom: 1px solid lightgray;

    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    min-height: 5rem;

    display: flex;

    cursor: pointer;

    transition: background 0.35s ease;

    &:hover, &.active {
        background: darken(#FFFFFF, 7);
    }
}

main > span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;

    font-size: 1.4rem;

}

.patient {
    width: $width-patient;

    b {
        min-height: 2rem;

        @include pad-vert(0.25rem);
        @include pad-hor(2rem);

        border-radius: 2rem;

        font-weight: normal;

        &.incoming { background: $colour-incoming-light}
        &.active { background: $colour-active-light}
        &.completed { background: $colour-completed-light}

        i {
            font-size: 1rem;
            font-style: normal;
        }
    }
}

.clinician {
    width: $width-clinician;

    fa-icon {
        margin-right: 0.6rem;
    }
}

.action {
    width: $width-action;

    fa-icon {
        margin-right: 0.6rem;
    }

    //b {}
}

.time {
    width: $width-time;
}


aside {
    position: relative;

    display: flex;
    flex-wrap: wrap;

    overflow-y: hidden;

    max-height: 0px;

    transition: max-height .35s ease;

    background: darken(#FFFFFF, 3);

    &.active {
        max-height: 1000px;
    }

    .gotocase {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.25rem;

        font-size: 2.35rem;
        color: $colour-completed-dark;

        transition: all 0.2s ease;

        display: flex;
        align-items: center;

        cursor: pointer;

        &:hover {
            color: darken($colour-completed-dark, 20);
            transform: translateX(-10px);

            span {
                display: inline;
            }
        }

        span {
            display: none;
            font-size: 1.2rem;
        }
    }
}

.aside-row {
    display: flex;
    flex: 1;
    min-height: 3rem;
    flex-direction: column;

    .item {
        display: flex;

        min-height: 3rem;
        width: 100%;

        padding: 1rem;

        font-size: 1.2rem;

        align-items: center;

        strong {
            align-self: flex-start;

            margin-right: 0.5rem;

            max-height: 3rem;
        }

        span {
            align-self: flex-start;
        }
    }

}
