@import 'variables';
@import 'mixins';

@import '../cases-box';
@import '../edit-page/case';

:host {
    @include host;
}

.container {
    @include container;
}

.nav {
    @include nav;
}

.main {
    @include main;
}

.status {
    @include status;
}

.status-header {
    color: white;
    font-weight: 600;
    font-size: 2.5rem;
    padding: 2rem;
}

.content {
    @include content;
}

.popup {
    @include popup-container;
}

.popup-main {
    @include popup;
}

form {
    @include form;

    height: 100%;
    width: 100%;
}

.details-row {
    @include case-row;

    &.options {
        @include case-row-options;
    }
}

.group {
    @include row-group;
}
