<div class="edit-container">


    <main class="edit-main">
        <header class="edit-status">
            <a class="edit-status-header"> New Patient </a>
        </header>
        <article class="edit-content">
            <form [formGroup]="form">
                <div class="details-row">
                    <label>First Name</label>
                    <input type="text" formControlName="first_name"/>
                </div>
                <div class="details-row">
                    <label>Last Name</label>
                    <input type="text" formControlName="last_name"/>
                </div>
                <div class="details-row">
                    <label>DOB</label>
                    <input type="date" formControlName="dob"/>
                </div>
                <div class="details-row">
                    <label>Gender</label>
                    <cs-toggle [name]="'gender'" [options]="radioGender" formControlName="gender"></cs-toggle>
                </div>
                <div class="details-row">
                    <label>Address</label>
                    <input type="text" formControlName="address"/>
                </div>
                <div class="details-row">
                    <label>NOK Name</label>
                    <input type="text" formControlName="nok"/>
                </div>
                <div class="details-row">
                    <label>NOK No.</label>
                    <input type="text" formControlName="nok_phone"/>
                </div>
                <div class="details-row">
                    <label>Last Well</label>
                    <cs-date-time formControlName="last_well"></cs-date-time>
                </div>
                <article class="group">
                    <div class="details-row">
                        <label>Status</label>
                        <cs-toggle [name]="'status'" [options]="radioStatus" formControlName="status"></cs-toggle>
                    </div>
                    <div class="details-row" *ngIf="form.get('status').value == 'incoming'">
                        <label>ETA</label>
                        <cs-date-time formControlName="eta"></cs-date-time>
                    </div>
                    <div class="details-row" *ngIf="form.get('status').value == 'active'">
                        <label>Arrived</label>
                        <cs-date-time formControlName="active_timestamp"></cs-date-time>
                    </div>
                </article>
                <div class="details-row options">
                    <label></label>
                    <div class="button add-button">ADD
                        <cs-double-click [func]="onAdd"></cs-double-click>
                    </div>
                </div>

            </form>
        </article>
    </main>
</div>
